In [7]:
import pandas as pd
df = pd.read_csv('tabula-VintageChart_1970-2017.csv')
df

,USA/CALIFORNIA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,NORTH COAST (CABERNET SAUVIGNON),NT,98T,97E,93R,98T,96E,78I,95T,94T,...,76C,86R,85R,87R,80R,92R,90T,85R,70C,92R
1,NORTH COAST (CHARDONNAY),NT,94E,96E,94R,93R,94E,88I,91E,90R,...,85C,85C,86C,88C,83C,86C,80C,86C,82C,83C
2,NORTH COAST (ZINFANDEL),NT,93R,90I,93R,92R,92R,74I,90R,85I,...,78C,80C,82C,82C,83C,86C,87C,80C,60C,89C
3,NORTH COAST (PINOT NOIR),NT,91R,87I,94R,90R,93R,84I,91R,90R,...,85C,84C,83C,85C,80C,84C,NT,NT,NT,NT
4,CENTRAL COAST: PASO ROBLES,NT,NT,NT,93E,94R,90E,88E,92T,87R,...,NT,NT,NT,NT,NT,NT,NT,NT,NT,NT
5,USA/OREGON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,WILLAMETTE VALLEY PINOT NOIR,NT,93R,NT,93T,87R,92R,90R,88I,86R,...,90C,84C,86C,86C,NT,NT,NT,NT,NT,NT
7,USA/WASHINGTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,CABERNET SAUVIGNON/SYRAH,NT,NT,NT,94T,92T,95T,87E,92T,92T,...,92R,78C,NT,NT,NT,NT,NT,NT,NT,N
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ARGENTINA,92E,96I,91I,92E,95E,91R,94R,92R,90R,...,NT,NT,NT,NT,NT,NT,NT,NT,NT,N

In [8]:
df_first_10 = df.iloc[:,0:10]
df_first_10

,USA/CALIFORNIA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NORTH COAST (CABERNET SAUVIGNON),NT,98T,97E,93R,98T,96E,78I,95T,94T
1,NORTH COAST (CHARDONNAY),NT,94E,96E,94R,93R,94E,88I,91E,90R
2,NORTH COAST (ZINFANDEL),NT,93R,90I,93R,92R,92R,74I,90R,85I
3,NORTH COAST (PINOT NOIR),NT,91R,87I,94R,90R,93R,84I,91R,90R
4,CENTRAL COAST: PASO ROBLES,NT,NT,NT,93E,94R,90E,88E,92T,87R
5,USA/OREGON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,WILLAMETTE VALLEY PINOT NOIR,NT,93R,NT,93T,87R,92R,90R,88I,86R
7,USA/WASHINGTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,CABERNET SAUVIGNON/SYRAH,NT,NT,NT,94T,92T,95T,87E,92T,92T
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,ARGENTINA,92E,96I,91I,92E,95E,91R,94R,92R,90R

In [9]:
df_csv= pd.read_csv('cleaned_vintage_chart_1.8.19.csv')
df_csv

,State,Region,Variety,2017,2016,2015,2014,2013,2012,2011,2010,2009
0,California,NORTH COAST,CABERNET SAUVIGNON,NT,98T,97E,93R,98T,96E,78I,95T,94T
1,California,NORTH COAST,CHARDONNAY,NT,94E,96E,94R,93R,94E,88I,91E,90R
2,California,NORTH COAST,ZINFANDEL,NT,93R,90I,93R,92R,92R,74I,90R,85I
3,California,NORTH COAST,PINOT NOIR,NT,91R,87I,94R,90R,93R,84I,91R,90R
4,California,PASO ROBLES,PASO ROBLES,NT,NT,NT,93E,94R,90E,88E,92T,87R
5,California,Santa Barbara,Santa Barbara,NT,NT,NT,94R,93R,93R,87E,92T,87R
6,Oregon,WILLAMETTE VALLEY,PINOT NOIR,NT,93R,NT,93T,87R,92R,90R,88I,86R
7,Washington,Washington,CABERNET SAUVIGNON/SYRAH,NT,NT,NT,94T,92T,95T,87E,92T,92T